
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 50%;
}

.Team-Info {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  justify-content: space-around;
  margin-right: 40px;
  width: 100%;
}





