
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.page{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Team-Info {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  width: 400px;
  background-color: blueviolet;
}

p {
  margin-top: 20px;
  color: white;
  font-size: larger;
}

img{
  width: auto;
  height: 300px;
}





