
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50%;
}

.Team-Info {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  width: 500px;
  background-color: blueviolet;
}

p {
  margin-top: 20px;
  color: white;
  font-size: larger;
}

img{
  width: auto;
  height: 300px;
}





